{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<link rel="stylesheet" href="../assets/css/form.css" />

<div class="container-plus">
    <div class="block">
        {{ form_start(form) }}
        {{ form_row(form.oldPassword, {'attr':{'placeholder':'Enter old password', 'class':'flexCol'}}) }}
        {{ form_row(form.password, {'attr':{'placeholder':'Enter new password', 'class':'flexCol'}}) }}
        {{ form_row(form.confirmPassword, {'attr':{'placeholder':'Confirm new password', 'class':'flexCol'}}) }}
        {{ form_row(form.submit, {'attr':{'class':'flexCol'}}) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}