{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}




    {% block body %}
    <!-- TEAM 1 AFFICHAGE !-->
    <h2>Team 1 : {{ player1 }}</h2>
    <div class="row">
        {% for pokemon in team1 %}
            <div class="col-sm-1.5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ pokemon.name }} <img src="{{ pokemon.icon }}"></h5>
                        <img width="120px" src="{{ pokemon.image }}">
                        <p> Points de vie : {{ pokemon.life }}</p>
                        <p> Points d'attaque : {{ pokemon.attack }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

    <!-- TEAM 2 AFFICHAGE !-->
    <h2>Team 2 : {{ player2 }}</h2>
    <div class="row">
        {% for pokemon in team2 %}
            <div class="col-sm-1.5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ pokemon.name }} <img src="{{ pokemon.icon }}"></h5>
                        <img width="120px" src="{{ pokemon.image }}">
                        <p> Points de vie : {{ pokemon.life }}</p>
                        <p> Points d'attaque : {{ pokemon.attack }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div>
        <h3>Pokemon 1 de l'équipe 1 :</h3>
        {{ pokemon1team1.name }}
        <img src="{{ pokemon1team1.icon }}">
        <img width="120px" src="{{ pokemon1team1.image }}">
        <p> Points de vie : {{ pokemon1team1.life }}</p>
        <p> Points d'attaque : {{ pokemon1team1.attack }}</p>
    </div>

    <div>
        <h3>Pokemon 1 de l'équipe 2 :</h3>
        <p>{{ pokemon1team2.name }}</p>
        <img src="{{ pokemon1team2.icon }}">
        <img width="120px" src="{{ pokemon1team2.image }}">
        <p> Points de vie : {{ pokemon1team2.life }}</p>
        <p> Points d'attaque : {{ pokemon1team2.attack }}</p>
    </div>
        <button type="button" id="fight" class="btn btn-primary">Primary</button>

        <script>
            $(document).ready(function () {
                $(#fight).click(function () {
                    $.ajax({
                        method: "POST",
                        url: " path('fight') ",
                        dataType: "json",
                        data: data,
                        async: true,
                        success: function (data) {

                        }

                    })
                })
            })
        </script>
    {% endblock %}
