{% extends 'base.html.twig' %}

{% block title %}Fight{% endblock %}

{% block body %}
    <section class="fightContainer">

        <div class="displayAllTeam">

            <!-- TEAM 1 AFFICHAGE !-->

            <div class="displayOneTeamContainer">
                <h2>{{ player1 }}</h2>
                <div class="displayOneTeam">
                    {% for pokemon in team1 %}
                        <div class="displayOnePokemon">
                            <img src="{{ pokemon.icon }}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- TEAM 2 AFFICHAGE !-->

            <div class="displayOneTeamContainer">
                <h2>{{ player2 }}</h2>
                <div class="displayOneTeam">
                    {% for pokemon in team2 %}
                        <div class="displayOnePokemon">
                            <img src="{{ pokemon.icon }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="FightSection">
            <div class="displayOneFighter">
                <h3>Pokemon 1 de l'équipe 1 :</h3>
                <p>{{ pokemon1team1.name }}</p>
                <img width="120px" src="{{ pokemon1team1.image }}">
                <p> Points de vie : {{ pokemon1team1.life }}</p>
                <progress value="{{ pokemon1team1.life }}" max="{{ pokemon1team1.life }}"></progress>
            </div>

            <div class="displayOneFighter">
                <h3>Pokemon 1 de l'équipe 2 :</h3>
                <p>{{ pokemon1team2.name }}</p>
                <img width="120px" src="{{ pokemon1team2.image }}">
                <p id="#hpOpponent">Points de vie : {{ pokemon1team2.life }}</p>
                <progress value="{{ pokemon1team2.life }}" max="{{ hp_pokemon }}"></progress>
            </div>
        </div>
        <button type="button" id="fight" class="btn btn-primary">Fight !</button>
        <p class="descriptionFight">Description of the fight ! Squirtle attack water gun. It's super effective ! The opponent Charmander fainted. </p>
    </section>
    <script>


        $(document).ready(function () {
            $('#fight').click(function () {
                var data = {
                    attaquant: "{{ pokemon1team1.numberPokedex }}",
                    cible: "{{ pokemon1team2.numberPokedex }}"
                };
                $.ajax({
                    method: "POST",
                    url: "{{ path('fight') }}",
                    dataType: "json",
                    data: data,
                    async: true,
                    success: function (data) {
                        console.log(data);
                        $('#hpOpponent').html(data.result);
                    }
                })
            })
        })
    </script>
{% endblock %}
