{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}



    <h1>Pokemon</h1>
    <p>{{ user.getId }}</p>
    <p>{{ user.getEmail }}</p>
    <p>{{ user.getPseudo }}</p>
    <p>{{ user.getPassword }}</p>


    <div>
        {% for pokemon in pokemons %}
            <p>{{ pokemon.name }}</p>
            <img width="120px" src="{{ pokemon.image }}">
        {% endfor %}
    </div>
{% endblock %}
